.App {
    display: flex;
    flex-flow: row wrap;
    overflow: hidden;
}

body {
    height: 100vh;
}

.App-logo {
    display: block;
    margin: 0 auto;
}

.header {
    background-color: #0084b4;
    height: 100px;
    flex: 1 100%;
    padding: 20px;
    color: white;

}

.sidebar {
    background: #E6ECF0;
    color: #0084b4;
    flex-direction: column;
    min-width: 120px;
    min-height: 100vh;
    position: absolute;

}

.main {
    margin: 0 auto;
    width: 63%;
}

.my-books-list {
    display: flex;
    flex-flow: row wrap;
    order: 3;

}

.my-books-list li {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    border-radius: 5px;
    display: flex;
    height: 350px;
    margin: 7px;
    padding: 10px;
    position: relative;
    width: 200px;

}

.flex-item .book-authors {
    color: #616161;
}

.sign-out-link {
    color: #fff;
    font-size: 16px;
    position: absolute;
    right: 20px;
    top: 30px;
}

.sign-out-link:hover {
    color: aqua;
    text-decoration: none;
}

.flex-item .btn-default {
    bottom: 10px;
    position: absolute;
    width: 90%;
}


.sidebar ul {
    list-style-type: none;
    padding: 5px 20px 0 20px;
}

.forms {
    display: flex;
    flex: 1 100%;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;



}
.big-card-one,
.big-card-two {
    width: 40%;
}



@media all and (max-width: 450px) {
    .big-card-one { width: 90% }
    .big-card-two { width: 90% }
}



/*********************************
		SEARCH COMPONENTS
*********************************/


.book {
    margin: 50px 0;
}

/*********************************
		DASHBOARD STYLES
*********************************/

.overview {
    align-items: center;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    margin: 0 auto;
    order: 3;
    padding: 20px;
    width: 60%;

}

.overview div {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    border-radius: 5px;
    height: 300px;
    min-width: 200px;
    width: 27%;
}

.overview h3 {
    text-align: center;
}

/*********************************
		MEDIA QUERIES
*********************************/

@media all and (max-width: 650px) {
    .sidebar {
        min-height: 55px;
        width: 100%;
    }

    .sidebar ul {
        display: flex;
        flex-direction: row;
    }

    .overview {
        margin-top: 50px;
    }
}
