.App {
	display: flex;
}
body {
	height: 100vh;
}
.App-logo {
  display: block;
	margin: 0 auto;
}

.header {
  background-color: #0084b4;
  height: 100px;
	flex: 1 100%;
  padding: 20px;
  color: white;
}

.sidebar {
	background: #E6ECF0;
	flex: 1;
	flex-direction: column;
	max-width: 15%;
	min-height: 100vh;
	color: #0084b4;
}

.main {
	flex: 2;
}

.sidebar ul {
	list-style-type: none;
}


/*********************************
		SEARCH COMPONENTS
*********************************/


.book {
	margin: 50px 0;
}
